* {
    padding: 0%;
    margin: 15px;
}

body {
    display: block;
    justify-content: center;
    background-color: #EFF0E2;
}



.logo {
    position: relative;
    max-width: 568px ;
    max-height: 194px ;
    
}

.provider {
    position: relative;
    max-width: 100% ;
    max-height: 100% ;
    position: relative;
    font-size:25px;
}

div {
    margin: 0px;
}

p {
    font-weight: 900;
    margin: 0;
    text-align: left; 
}

.form {
    margin: 0px;
    font-size: 12px;
    width: 150px;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
    
}



.form button {    
    margin-left: auto;
    margin-right: auto; 
    cursor: pointer;
    font-size: 10px;
    padding: 2px;
    color: #E7F5EE;
    background-color: #03A64D;
    width: 150px;
    margin-bottom: 3.125rem;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
    border:#03A64D
}

.Container {
    text-align: center;
    width: 700px; 
    margin-left: auto;
    margin-right: auto; 
    background-color: white;
    position: relative;

    border-radius: 15px;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
}